.arduino-cli/
.workspace/

# --- PlatformIO ---
**/.pio/                
**/.vscode/             
*.elf                  
*.hex                  
*.bin                  
*README             
!*README.md     
PlatformIO/00-Library/            

# --- Arduino IDE ---
**/build/              
*.ino.cpp   
Arduino-IDE/libraries/       

# --- OS / Editor junk ---
**/.DS_Store           
**/Thumbs.db           

Arduino-Gega-ComponentList.docx